[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr %cd) %C(cyan)%an%Creset' --date=format:'%d.%m' --abbrev-commit "$@"
[color]
	ui = auto
[user]
	name = Benjamin Turner
	email = benjamin@passionsplay.com
[core]
	excludesfile = /home/benjamin/.gitignore
	editor = vim
	whitespace = cr-at-eol
[push]
	default = simple
[merge]
	tool = meld
[github]
	user = bgturner
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
