.directory
*~
*.class
*.ctxt
.zim
.vagrant
*.sublime-project
*.sublime-workspace
.tags*
tags
*sass-cache
node_modules
bower_components
*.sql
.s??
npm-debug.log
vendor
.DS_Store
bin
vim/plugged
vim/autoload
tags
vetur.config.js
emacs/.emacs.d/straight
emacs/.emacs.d/.extension
emacs/.emacs.d/lsp-cache
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/.lsp-session*
emacs/.emacs.d/forge-database.sqlite
emacs/.emacs.d/recentf
emacs/.emacs.d/transient
emacs/.emacs.d/.cache
emacs/.emacs.d/.org-id-locations
emacs/.emacs.d/bookmarks
emacs/.emacs.d/org-roam.db
emacs/.emacs.d/.custom.el
emacs/.emacs.d/.dap-breakpoints
emacs/.emacs.d/projectile.cache
emacs/.emacs.d/url
