snippet feature
Feature: ${1:Feature Name}
	${4:Why}
	${3:Who}
	${2:What}

	${0}
endsnippet

snippet scenario
Scenario: ${1:Scenario Name}
	${0}
endsnippet

snippet g "Given"
Given ${0}
endsnippet

snippet w "When"
When ${0}
endsnippet

snippet a "And"
And ${0}
endsnippet

snippet t "Then"
Then ${0}
endsnippet
