snippet media
@media ${1:screen} and (${2:max-width}: ${3:768px}) {
	$0
}

endsnippet

snippet fileheading
// ************************************************************************
// ${1}
// ************************************************************************
${0}
endsnippet

